body {
    background-color: antiquewhite;
    color: white;
}

.container {
    margin: 0 auto;
    max-width: 1430px;
    height: 100vh;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Main */

.box {
    background-color: rgb(185, 96, 96);
    flex: 0 1 auto;
    padding: 20px;
    font-size: 1.3rem;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.sketch_field {
    width: 70vmin;
    height: 70vmin;
    background-color: #fff;
    border: 2px solid rgb(100, 71, 71);
    
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(100, 71, 71);
}
