body {
    background-color: antiquewhite;
    color: white;
}

.container {
    margin: 0 auto;
    max-width: 1430px;
    height: 100vh;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: beige;
    padding: 5px;
    font-size: 1.5rem;
    border: 2px solid rgb(136, 64, 64);
    transition: all 0.3s;
}

.btn+.btn {
    margin-left: 5px;
}

.btn:hover {
    background-color: bisque;
}

.btn:active {
    background-color: #fff;
}

/* Main */

.box {
    background-color: rgb(185, 96, 96);
    flex: 0 1 auto;
    padding: 20px;
    font-size: 1.3rem;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.sketch_field {
    width: 70vmin;
    height: 70vmin;
    background-color: #fff;
    border: 2px solid rgb(100, 71, 71);
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(100, 71, 71);
}

.control_panel {
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#size-amount {
    text-align: right;
    font-size: 2rem;
    max-width: 80px;
    margin-top: 5px;
    border: 2px solid rgb(100, 71, 71);
}

.set_panel {
    display: flex;

}

.brush_color {
    margin-right: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.color_buttons {
    display: flex;
}



.random_color, .default_color {
    font-size: 1rem;
    margin-top: 5px;
}

.set_panel-input {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.set_panel-buttons {
    display: flex;
    margin-left: 5px;
}

.btn-set {}

.btn-reset {}

/* Small display */

@media (max-width:650px) {
    .control_panel {
        flex-direction: column;
        align-items: center;
    }

    .brush_color {
        margin-right: 0;
        margin-bottom: 5px;
        text-align: center;
    }

    .set_panel {
        display: block;
    }

    .set_panel-input {
        align-items: center;
    }

    .sketch_field {
        width: 90vmin;
        height: 90vmin;
    }
}